html {
    height: 100%;
    width: 100%;
    
  
  }
body {
text-align: center;
background-color: black;
color: rgb(226, 226, 40);
}

#high{
  color: black;
}

#dealerCards img {
  height: 200px;
  margin: 5px;
  box-shadow: 0 0px 100px rgb(40, 226, 71);
}
#userCards img {
  height: 200px;
  margin: 5px;
  box-shadow: 0 0px 100px rgb(226, 52, 40);

}
#spareDeck img {
  height: 200px;
  margin: 5px;
  float: left;
  box-shadow: 0 0px 40px rgb(226, 226, 40);

  
}

#stats {
  float: left;
  border: rgb(226, 226, 40);
  border-radius: 2px;

}

#playB {
  align-items: center;
  width: 100px;
  height: 50px;
  color: black;
  background-color: rgb(226, 226, 40);
  
}
#dealB {
  align-items: center;
  width: 100px;
  height: 50px;
  color: black;
  background-color: rgb(226, 226, 40);
}
#leaveB {
  align-items: center;
  width: 100px;
  height: 50px;
  color: black;
  background-color: rgb(226, 226, 40);
}
#hitB {
  align-items: center;
  width: 100px;
  height: 50px;
  color: black;
  background-color: rgb(226, 226, 40);
}
#stayB {
  align-items: center;
  width: 100px;
  height: 50px;
  color: black;
  background-color: rgb(226, 226, 40);
}